.chatInput {
  border: 2px solid var(--slack-color-dark);
  border-radius: 15px;
  width: 75%;
  position: fixed;
  bottom: 1.5rem;
  background-color: var(--slack-white);
}

.form__Input {
  border: none;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 99%;
  margin: 0.5rem 0.5rem;
}

.form__Input::placeholder {
  font-family: "lato";
}

.chatInput__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6e5e5;
  border-top: 1px solid black;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 100%;
}

.chatInput__decorators {
  padding: 0;
}

.chatInput__decorators .MuiSvgIcon-root {
  border-right: 1px solid black;
  height: 35px;
  width: auto;
  padding: 5px;
  align-content: center;
}

.chatInput__actions .MuiSvgIcon-root {
  border-left: 1px solid black;
  height: 35px;
  width: auto;
  padding: 5px;
}

.chatInput__buttons .MuiSvgIcon-root {
  cursor: pointer;
}

.chatInput__buttons .MuiSvgIcon-root:hover {
  background-color: #bebebe;
}
