.sidebarChannel {
  display: flex;
  padding: 0.3rem 1.5rem;
  align-items: center;
  cursor: pointer;
  color: var(--slack-white);
}

.sidebarChannel > .MuiSvgIcon-root {
  margin-right: 0.5rem;
}

.sidebarChannel:hover {
  background-color: var(--slack-color-dark);
  opacity: 0.8;
}

.sidebarChannel > p {
  text-decoration: none;
  font-weight: 300;
  color: var(--slack-white);
}

.sidebarChannel > p:active {
  text-decoration: none;
  font-weight: 300;
  color: var(--slack-white);
}
